<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="icon" type="image/x-icon" href="/images/favion.ico">
  <link rel="stylesheet" href="/stylesheets/aboutus.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('partials/header') %>
    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
        <div class="responsive-container-block leftSide">
          <p class="text-blk heading">Meet Our Creative Team</p>
          <p class="text-blk subHeading">
            Welcome to OnlineBhatBhatey Rental Service, your premier bike rental
            service in Nepal. Located in the heart of Pokhara ,ion we specialize
            in providing top-quality bikes for exploring the stunning landscapes
            and cultural treasures of Nepal.<br />
            At Online BhatBhatey, we're passionate about biking and dedicated to
            making your adventure as memorable as possible. Our Mission: At
            OnlineBhatBhatey Rental Service, our mission is to offer convenient
            and eco-friendly transportation options for travelers and locals
            alike. We aim to promote exploration and enhance your experience of
            Nepal's beauty through our reliable and affordable bike rentals.
            <br />Our customers choose OnlineBhatBhatey Rental Service because
            we offer a fleet of premium bikes, easy online booking, and 24/7
            customer support to ensure a seamless rental experience.<br />
            Explore Nepal With Us: <br />Ready to start your biking adventure in
            Nepal? Browse our selection of bikes and book your rental
            <a class="linking" href="/ride">today</a> . Whether you're here
            for a day or a week, we have the perfect bike waiting for you.
            <br />Thank you for choosing Online BhatBhatey Rental. We look
            forward to welcoming you on board!
          </p>
        </div>
        <div class="responsive-container-block rightSide">
          <img class="number1img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg" />
          <img class="number2img" src="/images/map.png" />
          <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png" />
          <img class="number5img"
            src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png" />
          <iframe allowfullscreen="allowfullscreen" class="number4vid"
            poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png"
            src="https://www.youtube.com/embed/svg%3E?">
          </iframe>
          <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png" />
          <img class="number6img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png" />
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/javascripts/login2.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>