<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ride</title>
    <link rel="icon" type="image/x-icon" href="/images/favion.ico">
    <link rel="stylesheet" href="/stylesheets/ridestyle.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  
  <body>
    <%- include('partials/header') %>

    <div class="ride" id="ride">
      <div class="heading">
       
        <h1>Explore Out Top Deals <br />From Top Rated Dealers</h1>
      </div>

      <div class="ride-container">
        <div class="border">
          <div class="border-img">
            <img src="/images/bike1.png" alt="" />
          </div>
            <p>2018</p>
            <h3>Pulser NS-200</h3>
            <h2>NRs 2000</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike2.png" alt="" />
          </div>
            <p>2019</p>
            <h3>Royal Enfield-250</h3>
            <h2>NRs 2500</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

           <div class="border">
          <div class="border-img">
            <img src="/images/bike3.png" alt="" />
          </div>
            <p>2020</p>
            <h3>CX-250</h3>
            <h2>NRs 3500</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike4.webp" alt="" />
          </div>
            <p>2021</p>
            <h3>Yamaha's MT-15</h3>
            <h2>NRs 3000</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike5.webp" alt="" />
          </div>
            <p>2018</p>
            <h3>Bajaj Pulser 220F</h3>
            <h2>NRs 2000</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike6.webp" alt="" />
          </div>
            <p>2019</p>
            <h3>Yamaha FZS</h3>
            <h2>NRs 2000</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike7.webp" alt="" />
          </div>
            <p>2018</p>
            <h3>X-Pulse</h3>
            <h2>NRs 3000</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike8.jpg" alt="" />
          </div>
            <p>2019</p>
            <h3>Hero Honda</h3>
            <h2>NRs 1500</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
            <img src="/images/bike9.jpg" alt="" />
          </div>
            <p>2022</p>
            <h3>Suzuki Gixxer</h3>
            <h2>NRs 1800</h2>
            <a href="/booknow" class="btn">Rent Now</a>
          </div>

          <div class="border">
            <div class="border-img">
              <img src="/images/bike10.webp" alt="" />
            </div>
              <p>2018</p>
              <h3>Hero Splendor</h3>
              <h2>NRs 1200</h2>
              <a href="/booknow" class="btn">Rent Now</a>
            </div>

            <div class="border">
              <div class="border-img">
                <img src="/images/bike13.jpeg" alt="" />
              </div>
                <p>2022</p>
                <h3>Aprilla</h3>
                <h2>NRs 1000</h2>
                <a href="/oooknow" class="btn">Rent Now</a>
              </div>

              <div class="border">
                <div class="border-img">
                  <img src="/images/bike12.png" alt="" />
                </div>
                  <p>2024</p>
                  <h3>Ntroq-125</h3>
                  <h2>NRs 1000</h2>
                  <a href="booknow" class="btn">Rent Now</a>
                </div>

        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/javascripts/login2.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
